:root {
    --font-family-main: "SFProDisplay", Serif;

    --text-color: #122945;
    --text-header-color: #899CB1;

    --ui-green-color: #28A879;
    --ui-red-color: #EA1A4F;
    --ui-yellow-color: #FFD500;
    --ui-icon-color: #ADBFDF;
    --ui-secondary-color: #D8E4FB;
    --ui-accent: #002CFB;

    --screen-s: 720px;
    --screen-m: 1920px;
    --screen-l: 2560px;
}
