.container {
    display: flex;
    justify-content: center;
    margin-top: 84px;

    .wrapper {
        min-width: 1440px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}