.button {
    width: 200px;
    height: 52px;
    background: #005FF8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: var(--ui-hover);
    }

    &:active {
        background-color: var(--ui-active);
    }

    &:last-child {
        margin-top: 32px;
    }

    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 148%;
        color: #FFFFFF;
        letter-spacing: 0.4px;

        &.pay {
            position: relative;
            left: 65px;
        }

        &.primary {
            position: relative;
            left: 24px;
        }
    }



    .icon {
        &.pay {
            position: relative;
            right: 22.5px;
        }

        &.primary {
            position: relative;
            right: 20px;
        }
    }
}