.balance {
    background: #FFFFFF;
    border-radius: 48px;
    width: 145px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 48px;
    cursor: pointer;

    &:hover {
        .count, .icon {
            color: var(--ui-hover);
        }

        .icon {
            background-image: url('../icons/balance-hover.svg');
        }
    }

    .text, .count {
        color: var(--text-header-color);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 148%;
        letter-spacing: 0.1px;
    }

    .count {
        font-weight: 500;
        color: var(--text-color);
    }

    .icon {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-image: url('../icons/balance.svg');
    }
}