.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-right: 47px;

    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: var(--text-header-color);
    }
}

