@import "reset.scss";
@import "variables/global.scss";
@import "fonts/fonts.scss";

* {
    font-family: var(--font-family-main);
    letter-spacing: 0.01rem;
    user-select: none;
}

body {
    background: #F1F4F9;
}